<!DOCTYPE HTML>

<html>
	<head>
		<title>RZ edits</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">About</a></li>
							<li><a href="#one">Services</a></li>
							<li><a href="#two">Portfolio</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Jeremy Sayo</h1>
							<p>I'm a passionate full-stack developer with a keen eye for design and a love for building seamless digital experiences.
								Proficient in JavaScript, HTML, CSS, and Python, I enjoy working on both front-end and back-end development,
								crafting intuitive user interfaces while ensuring robust functionality behind the scenes.</p>
								<p>
								I have a deep interest in artificial intelligence and machine learning, constantly exploring ways to integrate
								smart technologies into web applications. With a strong foundation in web design, I strive to create aesthetically
								pleasing and highly functional websites that enhance user experience.  </p>
							   <p>Outside of development, I enjoy sharing my knowledge by teaching coding, getting
								my hands dirty with farming, bringing ideas to life through drawing, and diving into great books.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<div class="inner">
						<h2>Services</h2>
						<section>

							<a href="#" class="small-image">
    						<img src="static/images/website.svg" alt="",
								 data-position="center center"
								 style="width: 100px !important; height: 100px !important;">
									</a>
							<div class="content">
								<div class="inner">
									<h2>Simple Websites and Web Applications </h2>
									<p>I build clean, functional websites and web applications using Python (Flask/Django) and JavaScript (React).
										Whether it’s a personal blog, portfolio, or a small business site, I create responsive and user-friendly designs.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="small-image">
								<img src="static/images/backend.svg" alt=""
								 data-position="center center"
								 style="width: 10px; height: 10px;">
									</a>
							<div class="content">
								<div class="inner">
									<h2>Backend Development & APIs</h2>
									<p>I create robust backend systems and APIs using Python to power web and mobile applications.
										I ensure secure and efficient data handling, making apps scalable and reliable.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="small-image">
								<img src="static/images/datascience.svg" alt=""
								 data-position="center center"
								 style="width: 10px; height: 10px;">
									</a>
							<div class="content">
								<div class="inner">
									<h2>Data Science & Machine Learning</h2>
									<p>I work with data analysis, visualization, and machine learning models to extract insights and make predictions.
										Using Python (pandas, NumPy, scikit-learn, TensorFlow), I help businesses leverage data for smarter decision-making.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="small-image">
								<img src="static/images/education.svg" alt=""
								 data-position="center center"
								 style="width: 10px; height: 10px;">
									</a>
							<div class="content">
								<div class="inner">
									<h2>IT Education & E-learning Development</h2>
									<p>I  design and deliver engaging educational content on programming,
										Microsoft Office, and computing fundamentals, helping students and professionals build their skills.</p>
									<ul class="actions">
										<li><a href="generic.html" class="button">Learn more</a></li>
									</ul>
								</div>
							</div>
						</section>
						</div>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Portfolio</h2>
							<p>Below are some sample projects that i have worked on so far.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Blog</h3>
									<p>Check out this simple blog.Built using HTML and CSS for the front-end and Flask for the backend.</p>
								<ul class="actions">
										<li><a href="generic.html" class="button">Explore</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>School ERP</h3>
									<p>Complete simple ERP for school management. Provides functionalities like student management and fees tracking</p>
								<ul class="actions">
										<li><a href="generic.html" class="button">Explore</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Machine Learning</h3>
									<p>This is the simplest model demonstrating capabilities and working features of a simple ML model.</p>
								<ul class="actions">
										<li><a href="generic.html" class="button">Explore</a></li>
									</ul>
								</section>
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Marketer's Hub</h3>
									<p>This is a Flask API that allows you to post to multiple social media channels with a single click.</p>
								<ul class="actions">
										<li><a href="generic.html" class="button">Explore</a></li>
									</ul>
								</section>
							</div>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
								<p>You can get in touch through my various social media handles.Fill the form below
									for any queries, inquries or improvement suggestions on any of my projects.
								To buy me coffee, fill the form below and I will arrange a meetup</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>P.O BOX 12345<br />
											Eldoret, Uasin Gishu County<br />
											Kenya</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">sayomilembo@gmail.com</a>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
												<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
												<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
												<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
												<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">@rzorbits</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>